@media (max-width: 960px) {
  .headingWords {
    h1,
    h2 {
      text-align: center;
    }
  }

  .selectArtist {
    #artist,
    #randomizer {
      width: 80%;
    }
  }

  .artistInfo {
    h3 {
      font-size: 3rem;
    }
  }
  footer {
    p {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 480px) {
  .headingWords {
    h1,
    h2 {
      text-align: center;
      font-size: 2rem;
    }
  }

  .selectArtist {
    #artist,
    #randomizer {
      width: 80%;
    }
  }

  .artistInfo {
    h3 {
      font-size: 2rem;
    }
  }

  .socialsWrapper {
    display: flex;

    flex-direction: column;
  }

  .brianSocialsList,
  .nickSocialsList {
    margin: 1em 5em;
  }

  .artistInfo {
    a {
      font-size: 1.5rem;
    }
  }
  option {
    font-size: 1rem;
  }
  button {
    font-size: 1rem;
  }
} ;
