@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

$raleway: 'Raleway', sans-serif; 
$amaticSc: 'Amatic SC', sans-serif;
$red: #F05454;
$black: #121212;
$white: #F5F5F5;
$navy: #30475E;
$headfont: 4rem;
$subheadfont: 2.5rem;

body {
    background-color: $white;
}

h1, h2 {
    color: $red
}

h1 {
    font-family: $raleway;
    font-size: $headfont;    
    text-transform: uppercase;
}

h2 {
    font-family: $amaticSc;
    font-size: $subheadfont;
}

label {
    font-family: $amaticSc;
    color: $navy;
}